<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>866979693046-11riq7blj2844pi3hff9af6nua3ddqor.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.866979693046-11riq7blj2844pi3hff9af6nua3ddqor</string>
	<key>API_KEY</key>
	<string>AIzaSyDPhdT8corIcouWskZAZldMPktjGRrj52k</string>
	<key>GCM_SENDER_ID</key>
	<string>866979693046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MyProject</string>
	<key>PROJECT_ID</key>
	<string>high-tribute-205904</string>
	<key>STORAGE_BUCKET</key>
	<string>high-tribute-205904.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:866979693046:ios:9143edbd6dfb8eb885c7d7</string>
	<key>DATABASE_URL</key>
	<string>https://high-tribute-205904.firebaseio.com</string>
</dict>
</plist>